body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    text-align: center;
    padding: 40px;
    background: #020617;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #38bdf8;
}

.project {
    background: #020617;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 40px;
}
